<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.clavier.watcher_scripts</string>

    <key>WatchPaths</key>
    <array>
        <string>/Users/clavier/Library/Mobile Documents/com~apple~CloudDocs/0/scripts</string>
    </array>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/clavier/Library/Mobile Documents/com~apple~CloudDocs/0/scripts/installScripts.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/clavier/Library/Logs/watcher_scripts.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/clavier/Library/Logs/watcher_scripts_error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/clavier</string>
    </dict>
</dict>
</plist>
